<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4 shadow w-100" >
    <div class="icon-box p-2 mb-3 text-light d-flex justify-content-center w-100">
        <svg xmlns="http://www.w3.org/2000/svg" 
           width="60" height="60" 
           viewBox="0 0 24 24" 
           fill="none" 
           stroke="currentColor" 
           stroke-width="2" 
           class="bg-purple p-2 rounded-3">
          <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"></path>
          <path d="M3 6h18"></path>
          <path d="M16 10a4 4 0 0 1-8 0"></path>
        </svg>
    </div>
    <div class="text-center mb-4">
      <h3 class="text-light">Create Account</h3>
      <p>Join EliteCommerce today!</p>
    </div>
    <form (ngSubmit)="onSignUp()" [formGroup]="signupForm">
      <div class="form-group mb-3">
        <label for="name" class="form-label text-light">Username:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
           <input
           placeholder="username"
          type="text"
          id="userName"
          class="form-control"
          name="userName"
          required
          formControlName="userName"
          autocomplete="username"
        />
        </div>
        @if(userName?.touched){
          <div class="mt-2">
            @if(userName?.errors?.['required']){
              <small class="p-1 rounded">User Name is required</small>
            }@else if ( userName?.errors?.['pattern']) {
              <small class="p-1 rounded">Username must be 3–20 characters, letters and numbers only.</small>
            }
        </div>
        }
      </div>


      <div class="form-group mb-3">
        <label for="email" class="form-label text-light">Email:</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-regular fa-user"></i></span>
          <input
          placeholder="user@example.com"
          type="email"
          id="email"
          class="form-control"
          name="email"
          formControlName="email"
          autocomplete="email"
          required
        />
        </div>
        @if(email?.touched){
          <div class="mt-2">
            @if(email?.errors?.['required']){
              <small class="p-1 rounded">email is required</small>
            }@else if ( email?.errors?.['pattern']) {
              <small class="p-1 rounded">Please enter a valid email address.</small>
            }
          </div>
         }
      </div>

      <div class="form-group mb-3">
        <label for="password" class="form-label text-light">Password:</label>
        <div class="input-group">
           <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>  
          <input
          placeholder="enter your password"
          type="password"
          id="password"
          class="form-control"
          name="password"
          required
          formControlName="password"
          autocomplete="current-password"
        />
        </div>
         @if(password?.touched){
          <div class="mt-2">
            @if( password?.errors?.['required']){
              <small class="p-1 rounded">password is required</small>
            }@else if ( password?.errors?.['pattern']) {
              <small class="p-1 rounded"> Password must be at least 8 characters, includes letters and numbers only.</small>
            }
          </div>
        }
      </div>


       
      

      
      @if(errorMessage()){
        <div class="mb-3">
          <small class="p-1 rounded">{{errorMessage()}}</small>
        </div>
      }
      <button type="submit" class="btn btn-success w-100" [disabled]="signupForm.invalid">Sign Up</button>
    </form>
    <p class="text-center mt-3">Already have an account? <a routerLink="/auth/login">Login</a></p>
  </div>
</div>

