.input-group-text{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.container{
    width: 455px;
    min-width: none;
}
small{
    color: var(--error-red);
    background-color: var(--error-bg);
}
p,span i{
    color: var(--text-muted);
}
.card,input,span, input:hover, input:focus{
    background-color: var(--card-bg);
    border: var(--glass-border) 1px solid;
    border-radius: 10px;
}
input{
    color: var(--text-light);   
}
input::placeholder {
  color: var(--text-muted);
}
.btn{
    background-color: var(--main-purple) !important;
    color: white;
    transition: all 0.3s ease;
    border: var(--glass-border) 1px solid;
    border-radius: 10px;
}
a{
    color: var(--main-purple);
    text-decoration: none;
}

.row,.icon-box{
    width: fit-content;
}
.row{
    background-color: white;
}


.icon-box i{
    font-size: 2rem;
}

.form-box{
    width: 500px;
}
.small{
    font-size: smaller;
}
@media (max-width:576px) {
    .form-box{
        width: 100% ;
        padding: 15px !important;
    }
    .sign-up-form{
        width: 90% !important;
    }
    .card{
        width: auto !important;
    }
    .container{
        width: 100% !important;
    }

}
