.card:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  max-height:max-content;
}
span{
  background-color: rgb(243, 125, 125);
  padding: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.card-text{
  font-size: smaller;
}
.card {
  display: flex;
  flex-direction: column;
  height: 33rem;
  box-shadow: 2px 4px 15px rgb(247, 209, 209);
}
.card-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-top{
  height: 40%;
}
