<div class="card" style="width: 16rem; ">
  <img class="card-img-top h-50 w-100" [src]="product.image" alt="Card image cap" routerLink="/user/details/{{product.id}}">
  <div class="card-body">
    <div routerLink="/user/details/{{product.id}}">
      <h5 class="card-title bg-info">{{product.title}}</h5>
      <p class="card-text">
        {{ isExpanded[product.id] ? product.description : (product.description | slice:0:100) + '...' }}
        <a href="#" (click)="toggleReadMore(product.id, $event)">
          {{ isExpanded[product.id] ? 'Show less' : 'Read more' }}
        </a>
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-success" *ngIf="!AddButton" (click)="toggleAddButton()">Add to cart</button>
      <div class="d-flex w-50"  *ngIf="AddButton">
        <input type="number" class="form-control" name="num" id="num" [(ngModel)]="numOfProduct">
        <button class="btn btn-danger ms-1" (click)="add(numOfProduct);AddButton = false" [disabled]="numOfProduct == 0 ">Add</button>
      </div>
      <span>{{product.price}} L.E</span>
    </div>
  </div>
</div>
