<div class="home-wrapper">

  <section class="content-section">
    <div class="section-title">
      <span class="line"></span>
      <h2>Shop By <span>Category</span></h2>
      <p>Browse our unique collections tailored just for you.</p>
    </div>

    <div class="slider">
      <div class="slide-track">
        @for(cat of productsService.categories(); track cat.id){
          <div class="slide category-card" (click)="showCategoryProducts(cat.id)">
            <div class="glass-overlay">
                <h3>{{cat.name}}</h3>
                <span>Explore Collection</span>
            </div>
            <img [src]="cat.image" [alt]="cat.name">
          </div>
        }
        @for(cat of productsService.categories(); track 'clone-cat-' + cat.id){
          <div class="slide category-card" (click)="showCategoryProducts(cat.id)">
            <div class="glass-overlay">
                <h3>{{cat.name}}</h3>
                <span>Explore Collection</span>
            </div>
            <img [src]="cat.image" [alt]="cat.name">
          </div>
        }
      </div>
    </div>
  </section>

  <section class="content-section mt-5">
    <div class="section-title">
      <span class="line"></span>
      <h2>Featured <span>Products</span></h2>
      <p>Our top picks and best sellers this week.</p>
    </div>

    <div class="slider">
      <div class="slide-track">
        @for(product of productsService.products() ; track product.id){
          @if(product.images && product.images.length > 0){
            <div class="slide product-card" (click)="showDetails(product.id)">
            <div class="glass-overlay">
                <h3>{{product.title}}</h3>
                <span>${{product.slug}}</span>
            </div>
             <img [src]="product.images[0]? product.images[0] : ''" [alt]="product.title">
          </div>
        }
        }
        @for(product of  productsService.products() ; track 'clone-' + product.id){
          @if(product.images && product.images.length > 0){
           <div class="slide product-card" (click)="showDetails(product.id)">
            <div class="glass-overlay">
                <h3>{{product.title}}</h3>
                <span>${{product.slug}}</span>
            </div>
             <img [src]="product.images[0]? product.images[0] : ''" [alt]="product.title">
          </div>
        }
        }
      </div>
    </div>
  </section>

</div>