<div class="cartBox container mx-auto mt-5" >
  <h1 class="text-danger">Our Products</h1>
  <div class="headCart">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AddNewProductModal">
      Add new product
    </button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(product of products;track product.id){
        <tr>
        <td><img [src]="product.image" alt="product's image" style="width: 80px; height: auto;" class="img-fluid"></td>
        <td>{{product.title | slice: 0:50}}</td>
        <td>{{product.category}}</td>
        <td>{{product.price}} L.E</td>
        <td><button type="button" data-bs-toggle="modal" data-bs-target="#UpdateProductModal" class="btn btn-primary" (click)="update(product)">update</button></td>
      </tr>
      }

    </tbody>
    </table>
  </div>

</div>

<!-- Add new product Modal -->
<div class="modal fade" id="AddNewProductModal" tabindex="-1" aria-labelledby="AddNewProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 900px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddNewProductModalLabel">Add product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ProductForm" (ngSubmit)="AddProduct()">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <label for="title">Title</label>
              <input type="text" formControlName="title" id="title" class="form-control">
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="price">Price</label>
              <input type="text" formControlName="price" id="price" class="form-control">
            </div>
            <div class="col-md-4 col-sm-12">
              <app-select [SelectTitle]="'Categories'" [Allcategories]="Allcategories" [All]="false" (onChangeSelect)="getSelectedCategory($event)"></app-select>
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="image">Image</label>
              <img src="{{base64}}" alt="" width="200" height="200" class="img-fluid">
              <input type="file" id="image" class="form-control" (change)="getImagePath($event)">
            </div>
            <div class="col-md-8 col-sm-12">
              <label for="description">description</label>
              <textarea formControlName="description" id="description" class="form-control" placeholder="type here ...."></textarea>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-success" type="submit" [disabled]="ProductForm.invalid">Add Product</button>
          </div>
        </form>
        <p class="bg-success p-2 m-2 text-light" *ngIf="msg">{{msg}}</p>
      </div>
    </div>
  </div>
</div>

<!-- update product Modal -->
<div class="modal fade" id="UpdateProductModal" tabindex="-1" aria-labelledby="UpdateProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 900px !important;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="UpdateProductModalLabel">update product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ProductForm" (ngSubmit)="UpdateProduct()">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <label for="title">Title</label>
              <input type="text" formControlName="title" id="title" class="form-control">
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="price">Price</label>
              <input type="text" formControlName="price" id="price" class="form-control">
            </div>
            <div class="col-md-4 col-sm-12">
              <app-select [SelectTitle]="'Categories'" [Allcategories]="Allcategories" [All]="false" [SelectValue]="ProductForm.value.category" (onChangeSelect)="getSelectedCategory($event)"></app-select>
            </div>
            <div class="col-md-4 col-sm-12">
              <label for="image">Image</label>
              <img src="{{base64}}" alt="" width="200" height="200" class="img-fluid">
              <input type="file" id="image" class="form-control" (change)="getImagePath($event)">
            </div>
            <div class="col-md-8 col-sm-12">
              <label for="description">description</label>
              <textarea formControlName="description" id="description" class="form-control" placeholder="type here ...."></textarea>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-success" type="submit" [disabled]="ProductForm.invalid">update Product</button>
          </div>
        </form>
        <p class="bg-success p-2 m-2 text-light" *ngIf="msg">{{msg}}</p>
      </div>
    </div>
  </div>
</div>

