<div class="cartBox container mx-auto mt-5" >
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart">
    <p class="lead">You have <label class="text-danger">{{this.cartProducts.length}}</label> item in your cart</p>
    <span class="text-light text-center card-header rounded bg-danger" (click)="clearCart()">Clear shopping Cart</span>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
    <thead class="text-center">
      <tr>
        <th>Product</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for(product of cartProducts;track product.item.id){
        <tr>
        <td><img [src]="product.item.images[0]" alt=""></td>
        <td>{{product.item.title}}</td>
        <td>{{product.item.price | number:'1.0-2'}} L.E</td>
        <td>
          <div class="quantity d-flex flex-wrap align-items-center gap-2">
            <button class="btn btn-dark " (click)="plusQauntity(product.item.id)">+</button>
            <input class="form-control quantity-input" type="number" min="1" [(ngModel)]="product.quantity" (change)="detectQuantityChange()">
            <button class="btn btn-dark " (click)="minusQauntity(product.item.id)" [disabled]="product.quantity==1">-</button>
          </div>
        </td>
        <td>{{product.item.price * product.quantity}} L.E</td>
        <td>
          <button class="btn btn-danger" (click)="deleteProduct(product.item.id)">Delete</button>
        </td>
      </tr>
      }

    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total:{{total | number:'1.0-2' }} L.E</th>
        <th>
          <button class="btn btn-success" (click)="addCart()">Order Now</button>
        </th>
      </tr>
    </tfoot>
  </table>
  </div>

  <p class="bg-success p-3 text-light" *ngIf="success">Your Order Send Successfully</p>
</div>
